@{title('Custom 404')}

<section class="error-block">

	<div class="wrap">
		<div class="container">

			<div class="row page-title-box relative">

				<div class="half-circle wow fadeIn layer" data-wow-delay=".3s" id="circle-top-left" data-depth="0.08">
					<img src="/img/half-circle@2x.png" width="221" alt="Circle" />
				</div>

				<div class="half-circle wow fadeIn layer" data-wow-delay=".3s" id="circle-top-right" data-depth="0.08">
					<img src="/img/half-circle-down@2x.png" width="183" alt="Circle" />
				</div>

				<!--<div class="col-12 text-center">-->
				<!--<h1 class="wow fadeIn" data-wow-delay=".25s">@{title}</h1>-->
				<!--<p class="max-75 wow bounceInUp" data-wow-delay=".5s">-->
				<!--JS.Responsive is open source. It's hosted, developed,&nbsp;<br class="hidden-xs" />-->
				<!--and maintained on <a href="https://github.com/seyd/JS.Responsive" class="link" target="_blank">GitHub</a>.-->
				<!--</p>-->
				<!--</div>-->
				<div class="col-12 text-center">
					<h1 class="wow fadeIn" data-wow-delay=".25s">@{title}</h1>
					<p class="max-75 wow bounceInUp" data-wow-delay=".5s">@(Get the best commercial support for your JS. )</p>
				</div>

			</div>

		</div><!-- container -->
	</div><!-- wrap -->