@{title('Contact')}

<section class="contact-block">

	<div class="wrap">
		<div class="container">

			<div class="row page-title-box relative">

				<div class="half-circle wow fadeIn layer" data-wow-delay=".3s" id="circle-top-left" data-depth="0.08">
					<img src="/img/half-circle@2x.png" width="221" alt="Circle" />
				</div>

				<div class="half-circle wow fadeIn layer" data-wow-delay=".3s" id="circle-top-right" data-depth="0.08">
					<img src="/img/half-circle-down@2x.png" width="183" alt="Circle" />
				</div>

				<!--<div class="col-12 text-center">-->
					<!--<h1 class="wow fadeIn" data-wow-delay=".25s">@(@{title})</h1>-->
					<!--<p class="max-75 wow bounceInUp" data-wow-delay=".5s">-->
						<!--JS.Responsive is open source. It's hosted, developed,&nbsp;<br class="hidden-xs" />-->
						<!--and maintained on <a href="https://github.com/seyd/JS.Responsive" class="link" target="_blank">GitHub</a>.-->
					<!--</p>-->
				<!--</div>-->

				<div class="col-12 text-center">
					<h1 class="wow fadeIn" data-wow-delay=".25s">@(@{title})</h1>
					<p class="max-75 wow bounceInUp" data-wow-delay=".5s">@(Get the best commercial support for your JS. )<br class="hidden-xs">@(Responsive. Our support program is on free for now!)</p>
				</div>

			</div>

		</div><!-- container -->
	</div><!-- wrap -->

	<div class="contact-form wow fadeInUp" data-wow-delay="1s">

		<div class="wrap">

			<div class="container" data-jc-url="/templates/contactform.html"></div>

		</div>

	</div>

	<section class="block white no-padding-bottom authors">

		<div class="wrap">
			<div class="container">

				<div class="row">

					<div class="col-4 wow fadeInUp" data-wow-delay="1.4s">

						<div class="inner">

							<h2 class="h3 line">Johnny Seyd</h2>
							<p class="small">@(
								Chief Technical Officer)<br>@(
								at ) <a href="http://www.wezeo.com" target="_blank" class="link">wezeo.com</a><br>
								<a href="mailto:seyd@wezeo.com">seyd@wezeo.com</a>
							</p>

							<div class="text-right">
								<img src="/img/johny-seyd.jpg" alt="Johny Seyd" class="img-responsive">
							</div>

						</div>

					</div>

					<div class="col-4 wow fadeInUp" data-wow-delay="1.7s">

						<div class="inner">
							<h2 class="h3 line">Ctibor Laky</h2>
							<p class="small">@(
								Technology enthusiast)<br>@(
								and js programmer at ) <a href="http://www.wezeo.com" target="_blank" class="link">wezeo.com</a><br>
								<a href="mailto:laky@wezeo.com">laky@wezeo.com</a>
							</p>

							<div class="text-right">
								<img src="/img/ctibor-lucky.jpg" alt="Ctibor Laky" class="img-responsive">
							</div>
						</div>

					</div>

					<div class="col-4 wow fadeInUp" data-wow-delay="2s">

						<div class="inner">
							<h2 class="h3 line">Wezeo team</h2>
							<p class="small no-margin">@(
								Our team has powerfull)<br>@(
								brutal-mega skill )<br>
								<a href="mailto:support@wezeo.com">support@wezeo.com</a>
							</p>
						</div>

						<div class="text-right">
							<img src="/img/wezeo-team.jpg" alt="Wezeo team" class="img-responsive">
						</div>

					</div>

				</div>

			</div><!-- container -->
		</div>

	</section><!-- block.white -->

</section><!-- contact-block -->

<!--<script>-->
        <!--var form = {};-->
        <!--OPERATION('submit', function() {-->
            <!--console.log('submit');-->
            <!--RESET('form.*');-->
            <!--console.log('form', form);-->
            <!--AJAX('POST /api/contact/', form, 'form.response');-->
        <!--});-->
<!--</script>-->