@{title('Download')}

<section class="download-block">

	<div class="wrap">
		<div class="container">

			<div class="row page-title-box relative">

				<div class="half-circle wow fadeIn layer" data-wow-delay=".3s" id="circle-top-left" data-depth="0.08">
					<img src="/img/half-circle@2x.png" width="221" alt="Circle" />
				</div>

				<div class="half-circle wow fadeIn layer" data-wow-delay=".3s" id="circle-top-right" data-depth="0.08">
					<img src="/img/half-circle-down@2x.png" width="183" alt="Circle" />
				</div>

				<div class="col-12 text-center">
					<h1 class="wow fadeIn" data-wow-delay=".25s">@{title}</h1>
					<p class="max-75 wow bounceInUp" data-wow-delay=".5s">
						JS.Responsive is available also as custom build, so you can choose <br class="hidden-xs" />
						what features you want to be included in your build. And download it bellow.<br />
					</p>
					<p class="max-75 wow bounceInUp" data-wow-delay=".5s">
						Or install default or full version via npm or bower:
						<pre>npm install JS.Responsive --save</pre>
						<pre>bower install JS.Responsive --save</pre>
					</p>
				</div>
			</div>

		</div><!-- container -->
	</div>

	<div class="custom-download">

		<div class="wrap">
			<div class="container">

				<div class="row">

					<!--<div class="col-6 hidden-xs">-->

						<!--<div class="logo-square wow fadeInUp" data-wow-delay="1.2s"></div>-->

					<!--</div>-->

					<div class="col-6">

						<div class="inner">

							<h2 class="h3 line wow fadeInUp" data-wow-delay="1.2s">Build your package...</h2>

							<div class="wow fadeInUp" data-wow-delay="1.5s">
								<input type="checkbox" name="" id="all" /><label for="all">All features</label>
							</div>
							<div class="wow fadeInUp" data-wow-delay="1.5s">
								<input type="checkbox" name="" id="default" /><label for="default">Default</label>
							</div>

							<hr>

							<div id="checklist" class="download-functions row wow fadeInUp" data-wow-delay="1.5s"></div>

						</div><!-- inner -->

					</div><!-- col-6 -->



					<div class="col-6 hidden-xs">

						<div class="inner wow fadeInUp" data-wow-delay="1.5s">

							<div id="donwload-links"></div>

							<br>
							<h3>...and download generated files</h3>
							<a id="download-btn" href="#" class="button shadow" target="_blank">Download complete ZIP</a>

						</div>

					</div>

				</div>

			</div>
		</div>

	</div><!-- custom-download -->

	<!--<section class="block blue download-stable-version">-->

		<!--<div class="wrap">-->
			<!--<div class="container">-->

				<!--<div class="row wow fadeInUp">-->
					<!--<div class="col-7">-->

						<!--<h3>...and download generated files</h3>-->
						<!--<div id="donwload-links"></div>-->

					<!--</div>-->

					<!--<div class="col-4">-->

						<!--<a id="download-btn" href="#" class="button shadow" target="_blank">Download complete ZIP</a>-->

					<!--</div>-->
				<!--</div>-->

			<!--</div>-->
		<!--</div>-->

	<!--</section>-->

</section>

@{json(model, 'featuresList')}
@{import('downloadView.js')}
