@{title('JS.Responsive')}


<div class="intro">

	<div class="wrap">
		<div class="container relative">

			<div class="half-circle wow fadeIn" data-wow-delay=".3s" id="circle-top-hp">
				<img src="/img/half-circle@2x.png" width="221" alt="Circle" />
			</div>

			<div class="row">
				<div class="col-12">
					<h1 class="wow fadeIn" data-wow-delay=".25s">The new standard for <span class="color-blue">responsive.</span></h1>

					<div class="row devices">

						<div class="col-fifth text-center wow bounceInUp" data-wow-offset="10" data-wow-delay="1.2s">
							<img src="/img/icon-notebook@2x.png" alt="" width="64" />
						</div>

						<div class="col-fifth text-center wow bounceInUp" data-wow-offset="10" data-wow-delay=".9s">
							<img src="/img/icon-phone@2x.png" alt="" width="28" />
						</div>

						<div class="col-fifth text-center wow bounceInUp" data-wow-offset="10" data-wow-delay=".6s">
							<img src="/img/icon-computer@2x.png" alt="" width="77" />
						</div>

						<div class="col-fifth text-center wow bounceInUp" data-wow-offset="10" data-wow-delay=".3s">
							<img src="/img/icon-tablet@2x.png" alt="" width="43" />
						</div>

						<div class="col-fifth text-center wow bounceInUp" data-wow-offset="10">
							<img src="/img/icon-computer@2x.png" alt="" width="64" />
						</div>

					</div>

					<p class="max-75 text-center wow bounceInUp" data-wow-delay="1.4s">
						JS.responsive is the best software platform for running an internet business. We handle billions of dollars every year for forward-thinking businesses around the world.
						Responsiveness is more than just window width!
					</p>

					<div class="text-center">
						<a class="button wow fadeInUp" href="#" data-wow-delay="2s">Download for free!</a>
					</div>

				</div>
			</div>
		</div><!-- container -->
	</div>

</div><!-- intro -->

<section class="block white features-block">

	<div class="wrap">
		<div class="container">

			<div class="row">

				<div class="col-12">

					<h2 class="wow fadeInUp">Designed for <strong>everyone, everywhere.</strong></h2>

				</div>

			</div>

			<div class="row features">

				<div class="col-3 wow fadeInUp" data-wow-delay=".3s">

					<div class="inner">
					<span class="icon">
					<img src="/img/icon-breakpoints@2x.png" alt="Size breakpoints" width="67" />
					</span>

						<h3 class="line">Size breakpoints</h3>
						<p>Like Media queries you can target horizontal and vertical viewport sizes.</p>

						<a href="">View demo</a>
					</div>

				</div>

				<div class="col-3 wow fadeInUp" data-wow-delay=".7s">

					<div class="inner">
					<span class="icon">
						<img src="/img/icon-diamond@2x.png" alt="Javascript API" width="47" />
					</span>

						<h3 class="line">Javascript API</h3>
						<p>You can use just CSS selector based API but Javascript event based API for all features also.</p>

						<a href="">View demo</a>
					</div>

				</div>

				<div class="col-3 wow fadeInUp" data-wow-delay="1s">

					<div class="inner">
					<span class="icon">
						<img src="/img/icon-mouse@2x.png" alt="Touch vs. Mouse" width="48" />
					</span>

						<h3 class="line">Touch vs. Mouse</h3>
						<p>Different UI design for mouse and touch and switching dynamicaly beetwen them.</p>

						<a href="">View demo</a>
					</div>

				</div>

				<div class="col-3 wow fadeInUp" data-wow-delay="1.3s">

					<div class="inner">
					<span class="icon">
						<img src="/img/icon-browser@2x.png" alt="Browser detection" width="48" />
					</span>

						<h3 class="line">Browser detection</h3>
						<p>CSS selector conditions by browser and fallback options for older versions.</p>

						<a href="">View demo</a>
					</div>

				</div>

			</div>

		</div>
	</div>

</section>

<!--<div class="container">-->
	<!--<div class="row">-->
		<!--<div class="col-md-3">-->
			<!--<i class="fa fa-info-circle"></i><h2>Feature</h2>-->
			<!--<p>short descriptive text about feature, short descriptive text about feature, short descriptive text about feature, short descriptive text about feature</p>-->
			<!--<p><a class="btn btn-default" href="#" role="button">View DEMO »</a></p>-->
		<!--</div>-->
		<!--<div class="col-md-3">-->
			<!--<i class="fa fa-info-circle"></i><h2>Feature</h2>-->
			<!--<p>short descriptive text about feature, short descriptive text about feature, short descriptive text about feature, short descriptive text about feature</p>-->
			<!--<p><a class="btn btn-default" href="#" role="button">View DEMO »</a></p>-->
		<!--</div>-->
		<!--<div class="col-md-3">-->
			<!--<i class="fa fa-info-circle"></i><h2>Feature</h2>-->
			<!--<p>short descriptive text about feature, short descriptive text about feature, short descriptive text about feature, short descriptive text about feature</p>-->
			<!--<p><a class="btn btn-default" href="#" role="button">View DEMO »</a></p>-->
		<!--</div>-->
		<!--<div class="col-md-3">-->
			<!--<i class="fa fa-info-circle"></i><h2>Feature</h2>-->
			<!--<p>short descriptive text about feature, short descriptive text about feature, short descriptive text about feature, short descriptive text about feature</p>-->
			<!--<p><a class="btn btn-default" href="#" role="button">View DEMO »</a></p>-->
		<!--</div>-->
	<!--</div>-->
	<!--<div class="row">-->
		<!--<div class="col-lg-12">-->
			<!--For more features, <a href="/documentation/">read the documentation here</a>.-->
		<!--</div>-->
	<!--</div>-->
	<!--<h2>References</h2>-->
	<!--<div class="row">-->
		<!--<div class="col-md-3 col-sm-3 m">-->
			<!--<a href="/services/"><img src="/img/001.jpg" border="0" alt="Eshop" class="img-responsive img-rounded" /></a>-->
		<!--</div>-->
		<!--<div class="col-md-3 col-sm-3 m">-->
			<!--<a href="/services/"><img src="/img/002.jpg" border="0" alt="Easy modifications" class="img-responsive img-rounded" /></a>-->
		<!--</div>-->
		<!--<div class="col-md-3 col-sm-3 m">-->
			<!--<a href="/services/"><img src="/img/003.jpg" border="0" alt="Redesign it" class="img-responsive img-rounded" /></a>-->
		<!--</div>-->
		<!--<div class="col-md-3 col-sm-3 m">-->
			<!--<a href="/services/"><img src="/img/003.jpg" border="0" alt="Redesign it" class="img-responsive img-rounded" /></a>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->