@{title('JS.Responsive')}

<div class="intro">

	<div class="wrap">
		<div class="container relative">

			<div id="circle-top-hp" class="half-circle wow fadeIn layer" data-wow-delay=".3s" data-depth="0.08">
				<img src="/img/half-circle@2x.png" width="221" alt="Circle" />
			</div>

			<div class="row">
				<div class="col-12">
					<h1 class="wow fadeIn" data-wow-delay=".25s">@(The new standard for <span class="color-blue">responsive)</span></h1>

					<div class="row devices">

						<div class="col-fifth text-center wow bounceInUp" data-wow-offset="10" data-wow-delay="1.2s">
							<span class="icon-notebook"><img src="/img/icon-notebook@2x.png" alt="Notebook" /></span>
						</div>

						<div class="col-fifth text-center wow bounceInUp" data-wow-offset="10" data-wow-delay=".9s">
							<span class="icon-phone"><img src="/img/icon-phone@2x.png" alt="Phone" /></span>
						</div>

						<div class="col-fifth text-center wow bounceInUp" data-wow-offset="10" data-wow-delay=".6s">
							<span class="icon-imac"><img src="/img/icon-imac@2x.png" alt="iMac" /></span>
						</div>

						<div class="col-fifth text-center wow bounceInUp" data-wow-offset="10" data-wow-delay=".3s">
							<span class="icon-tablet"><img src="/img/icon-tablet@2x.png" alt="Tablet" /></span>
						</div>

						<div class="col-fifth text-center wow bounceInUp" data-wow-offset="10">
							<span class="icon-computer"><img src="/img/icon-computer@2x.png" alt="Computer" /></span>
						</div>

					</div>

					<p class="max-75 text-center wow bounceInUp" data-wow-delay="1.4s">@(
						JS.Responsive is perfect styling tool for moving responsiveness further then ever before. Because responsiveness is more than just window width!
					)</p>

					<div class="text-center">
						<a class="button wow fadeInUp" href="/download/" data-wow-delay="2.2s">@(Download now!)</a>
					</div>

				</div>
			</div>
		</div><!-- container -->
	</div>

</div><!-- intro -->

<section class="block white features-block">

	<div class="wrap">
		<div class="container">

			<div class="row">

				<div class="col-12">

					<h2 class="wow fadeInUp">Check this <strong>simple example</strong>:</h2>

					<!-- embeded codepen -->
					<p data-height="276" data-theme-id="light" data-slug-hash="gLEgar" data-default-tab="css,result" data-user="WEZEO" data-embed-version="2" data-pen-title="basic hi-res DEMO" class="codepen">See the Pen <a href="http://codepen.io/WEZEO/pen/gLEgar/">basic hi-res DEMO</a> by wezeo (<a href="http://codepen.io/WEZEO">@WEZEO</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>

				</div>

			</div>

			<div class="row features">

				<a class="col-3 wow fadeInUp" href="http://codepen.io/WEZEO/full/PbZMmq" target="_blank" data-wow-delay=".3s">

					<div class="inner">
					<span class="icon">
						<img src="/img/icon-breakpoints@2x.png" alt="Size breakpoints" width="67" />
					</span>

						<h3 class="line">Size breakpoints</h3>
						<p>@(Like Media queries you can target horizontal and vertical viewport sizes.)</p>

						<span class="button">@(View demo)</span>
					</div>

				</a><!-- col-3 -->

				<a class="col-3 wow fadeInUp" href="http://codepen.io/WEZEO/full/bBEXXR" target="_blank" data-wow-delay=".7s">

					<div class="inner">
					<span class="icon">
						<img src="/img/icon-js-api@2x.png" alt="Javascript API" width="41" />
					</span>

						<h3 class="line">Javascript API</h3>
						<p>@(You can use just CSS selector based API but Javascript event based API for all features also.)</p>

						<span class="button">@(View example)</span>
					</div>

				</a><!-- col-3 -->

				<a class="col-3 wow fadeInUp" href="http://codepen.io/WEZEO/full/YpqJKz" target="_blank" data-wow-delay="1s">

					<div class="inner">
						<span class="icon">
							<img src="/img/icon-mouse@2x.png" alt="Touch vs. Mouse" width="48" />
						</span>

						<h3 class="line">@(Touch vs. Mouse)</h3>
						<p>@(Different UI design for mouse and touch and switching dynamicaly beetwen them.)</p>

						<span class="button">@(View video)</span>
					</div>

				</a><!-- col-3 -->

				<a class="col-3 wow fadeInUp" href="http://codepen.io/WEZEO/full/aBNaxQ" target="_blank" data-wow-delay="1.3s">

					<div class="inner">
						<span class="icon">
							<img src="/img/icon-browser@2x.png" alt="Browser detection" width="48" />
						</span>

						<h3 class="line">@(Browser detection)</h3>
						<p>@(CSS selector conditions by browser and fallback options for older versions.)</p>

						<span class="button">@(View code)</span>
					</div>

				</a><!-- col-3 -->

			</div><!-- features -->

		</div>
	</div>

</section>

<section class="block references-block">

	<div class="wrap">
		<div class="container">

			<div class="row">
				<div class="col-12">

					<h2 class="wow fadeInUp">@(Built with )<strong>JS.Responsive</strong></h2>

					<p class="max-75 wow fadeInUp" data-wow-delay=".5s">@(
						Amazing sites across the web are using <a href="/">JS.Responsive</a>. Get started on your own with our <a href="/documentation/" class="link">documentation</a> or by exploring some of our favorites.
					)</p>

				</div>
			</div>

			<div class="row references relative">

				<div class="half-circle layer" id="circle-references-left" data-depth="0.08">
					<img src="/img/half-circle-small@2x.png" width="114" alt="Circle" />
				</div>

				<div class="half-circle layer" id="circle-references-right" data-depth="0.08">
					<img src="/img/half-circle@2x.png" width="221" alt="Circle" />
				</div>

				<div class="col-fifth">
					<a href="http://www.wezeo.com/" rel="nofollow" target="_blank"><img src="/img/screenshots/1.jpg" alt="wezeo.com" /></a>
					<a href="http://www.freshmail.sk/" rel="nofollow" target="_blank"><img src="/img/screenshots/2.jpg" alt="Fresh mail" /></a>
				</div>

				<div class="col-two-fifths">
					<a href="http://www.justinsignapp.com/" rel="nofollow" target="_blank"><img src="/img/screenshots/3.jpg" alt="Just in Sign" /></a>
				</div>

				<div class="col-fifth">
					<a href="http://nafta.sk/" rel="nofollow" target="_blank"><img src="/img/screenshots/4.jpg" alt="Nafta" /></a>
					<a href="http://orsr.eu" rel="nofollow" target="_blank"><img src="/img/screenshots/5.jpg" alt="Register" /></a>
				</div>

				<div class="col-fifth">
					<a href="https://www.provino.sk/" rel="nofollow" target="_blank"><img src="/img/screenshots/6.jpg" alt="Provino" /></a>
					<a href="mailto:info@wezeo.com?subject=add new web" class="add-new-web">Add new web</a>
				</div>

			</div>

		</div><!-- container -->
	</div>

</section>

<section class="block white features-block">

<div class="wrap">
	<div class="container">

		<div class="row">

			<div class="col-12">

				<p class="max-75">@(See <a href="/documentation/">all features of JS.Responsive)</a>.</p>

			</div>

		</div>

	</div>
</div>

</section>

<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>