<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="robots" content="all,follow" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" />
	<!--<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,700&subset=latin,latin-ext" />-->

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	@{import('meta', 'head', 'bundle.css', 'favicon.ico')}
	<script type='text/javascript'>
		(function (d, t) {
			var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
			bh.type = 'text/javascript';
			bh.src = 'https://www.bugherd.com/sidebarv2.js?apikey=ko2e2raq4xywtsgjadjgsw';
			s.parentNode.insertBefore(bh, s);
		})(document, 'script');
	</script>
</head>
<body>

	<div id="page-background">
		<!--<div class="background-stripe"><div class="tick"></div></div>-->
	</div>

	<!--<div data-component="cookie" class="hidden">This site uses cookies for visitor statistics. By continuing to browse the site you are agreeing to our use of cookies.</div>-->

	<header>
		<div class="wrap">

			<a id="github-ribbon" class="wow fadeIn" data-wow-delay=".4s" href="https://github.com/luckylooke/JS.Responsive.web" target="_blank"><span>Fork me on <strong>GitHub</strong></span></a>

			<div class="container">
				<!--<a href="javascript:void(0)" class="mainmenu-button"><i class="fa fa-navicon"></i></a>-->
				<a class="logo wow fadeIn" data-wow-delay=".25s" href="/"><img src="/img/logo@2x.png" alt="@{config.name}" border="0" width="162" /><strong>.Responsive</strong></a>

				<button type="button" class="navbar-toggle">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</button>

				<nav class="wow fadeIn" data-wow-delay=".25s">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/documentation/">Documentation</a></li>
						<li><a href="/download/">Download</a></li>
						<li><a href="/contact/">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>

	@{body}

	<footer>

		<div class="wrap">
			<div class="container">
				<div class="row">
					<div class="col-6">Powered by <a href="http://www.totaljs.com" target="_blank">Total.js - web framework</a></div>
					<div class="col-6 text-right">Made with <img src="/img/icon-heart@2x.png" alt="Love" width="19" class="heart" />  by <a href="http://www.wezeo.com" target="_blank"><img src="/img/logo-wezeo@2x.png" alt="Wezeo" width="46" /></a></div>
				</div>
			</div>
		</div>

	</footer>
	@{import('bundle.js')}

</body>
</html>