$image-path: '../img';
$animation-time: .3s;
$line-height: 1.42857143;
$font-size: 100;

$roboto-light: 'Roboto-Light';
$roboto-regular: 'Roboto-Regular';
$roboto-medium: 'Roboto-Medium';
$roboto-bold: 'Roboto-Bold';

$color-light-blue: #eef3fa;
$color-blue: #5ca4e7;
$color-dark-blue: #041627;

$color-bg-blue: #f4f9ff;

// farby prvkov
$color-border-background: #f5f8fc;
$color-headline: #0b345a;
$color-h3: #053d56;
$color-border-blue: #84baed;
$color-border-input: #c7e0f8;

// velkosti fontov
$font-size-small: 16;
$font-size-p: 24;
$line-height-p: 36;
$line-height-small: 24;
$font-size-h1: 48;
$font-size-h1-hp: 60;
$font-size-h2: 36;
$font-size-h3: 30;