$image-path: '../img';
$animation-time: .3s;
$animation-time-long: .5s;
$line-height: 1.42857143;
$font-size: 100;

$roboto-light: 'Roboto-Light';
$roboto-regular: 'Roboto-Regular';
$roboto-medium: 'Roboto-Medium';
$roboto-bold: 'Roboto-Bold';

$color-light-blue: #eef3fa;
$color-blue: #5ca4e7;
$color-dark-blue: #041627;
$color-dark-red: #B00;

$color-bg-blue: #f4f9ff;

// farby prvkov
$color-border-background: #f5f8fc;
$color-headline: #0b345a;
$color-h3: #053d56;
$color-border-blue: #84baed;
$color-border-input: #c7e0f8;
$color-gray: #f1f1f1;
$color-red: #d23c3c;

// velkosti fontov
$font-size-small: 16;
$font-size-small-xs: 32;
$font-size-p: 24;
$font-size-p-xs: 60;
$line-height-p: 36;
$line-height-p-xs: 85;
$line-height-small: 28;
$line-height-small-xs: 100;
$font-size-h1: 48;
$font-size-h1-xs: 115;
$font-size-h1-hp: 60;
$font-size-h1-hp-xs: 120;
$font-size-h2: 36;
$font-size-h2-xs: 95;
$font-size-h3: 30;
$font-size-h3-xs: 80;