@import "mixins";
@import "variables";

@font-face {
	font-family: 'Roboto-Light';
	src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Light.woff') format('woff'),
	url('../fonts/Roboto-Light.ttf') format('truetype'),
	url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Regular.woff') format('woff'),
	url('../fonts/Roboto-Regular.ttf') format('truetype'),
	url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Medium.woff') format('woff'),
	url('../fonts/Roboto-Medium.ttf') format('truetype'),
	url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Bold.woff') format('woff'),
	url('../fonts/Roboto-Bold.ttf') format('truetype'),
	url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-focus-ring-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;

	&:before,
	&:after {
		box-sizing: border-box;
	}

	&:focus {
		outline: none;
	}
}

.btn:focus,
button:focus {
	outline: none;
	box-shadow: none;
}

html {
	height: 100%;
	width: 100%;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: $roboto-regular;
	font-weight: normal;
	font-style: normal;
	font-size: 0.16rem;
	line-height: 0.23rem;
	color: $color-dark-blue;
	text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	position: relative;
	height: 100%;
	overflow-x: hidden;

	html.small-less & {
		padding-top: (240/$font-size)+rem;
		font-size: ($font-size-p-xs/$font-size)+rem;
		line-height: ($line-height-p-xs/$font-size)+rem;
	}

	html.menu-open & {
		overflow: hidden;
	}

	&[data-page="documentation"] {
		padding-top: (58/$font-size)+rem; // fix navbar
	}
}

img {
	vertical-align: middle;
}

// --------------------------------------
// GRID ---------------------------------
// --------------------------------------

.wrap {
	max-width: (1320/$font-size)+rem;
	margin: 0 auto;
	padding-left: (45/$font-size)+rem;
	padding-right: (45/$font-size)+rem;
	position: relative;

	html.small-less & {
		// html.small-less .features-block .wrap
		@at-root #{selector-nth(&, -1, insert-selector, '.features-block')} {
			padding: 0;
		}
	}
}

.container {
	width: (1230/$font-size)+rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: (15/$font-size)+rem;
	padding-right: (15/$font-size)+rem;
	overflow: visible;
	position: relative;

	html.large-less & {
		width: 100%;
	}
}

.row {
	margin-left: -(15/$font-size)+rem;
	margin-right: -(15/$font-size)+rem;

	&:before,
	&:after {
		display: table;
		content: " ";
	}

	&:after {
		clear: both;
	}
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-fifth, .col-two-fifths {
	position: relative;
	float: left;
	padding-left: (15/$font-size)+rem;
	padding-right: (15/$font-size)+rem;
	min-height: 1px;
}

.col-12 {
	width: 100%;
}

.col-11 {
	width: 91.66666667%;
}

.col-10 {
	width: 83.33333333%;
}

.col-9 {
	width: 75%;
}

.col-8 {
	width: 66.66666667%;
}

.col-7 {
	width: 58.33333333%;
}

.col-6 {
	width: 50%;
}

.col-5 {
	width: 41.66666667%;
}

.col-4 {
	width: 33.33333333%;
}

.col-3 {
	width: 25%;
}

.col-2 {
	width: 16.66666667%;
}

.col-1 {
	width: 8.33333333%;
}

.col-offset-12 {
	margin-left: 100%;
}

.col-offset-11 {
	margin-left: 91.66666667%;
}

.col-offset-10 {
	margin-left: 83.33333333%;
}

.col-offset-9 {
	margin-left: 75%;
}

.col-offset-8 {
	margin-left: 66.66666667%;
}

.col-offset-7 {
	margin-left: 58.33333333%;
}

.col-offset-6 {
	margin-left: 50%;
}

.col-offset-5 {
	margin-left: 41.66666667%;
}

.col-offset-4 {
	margin-left: 33.33333333%;
}

.col-offset-3 {
	margin-left: 25%;
}

.col-offset-2 {
	margin-left: 16.66666667%;
}

.col-offset-1 {
	margin-left: 8.33333333%;
}

.col-offset-0 {
	margin-left: 0;
}

.col-offset-3columns {
	margin-left: 12.5%;
}

.col-fifth {
	width: 20%;

	.references & {
		html.small-less & {
			width: 100%;
		}

		&:last-child {
			html.small-less & {
				display: table;
			}
		}
	}

	.devices & {
		float: none;
		display: inline-block;
	}
}

.col-two-fifths {
	width: 40%;

	.references & {
		html.small-less & {
			width: 100%;
		}
	}
}

// --------------------------------------
// POMOCNE TRIEDY -----------------------
// --------------------------------------

.hidden-xs {
	html.small-less & {
		display: none;
	}
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.no-padding-top {
	padding-top: 0 !important;
}

.no-padding-bottom {
	padding-bottom: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

.img-responsive {
	max-width: 100%;
	height: auto;
}

.color-blue {
	color: $color-blue;
}

.max-75 {
	text-align: center;
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;

	html.small-less & {
		max-width: none;
	}
}

.relative {
	position: relative;
}

// --------------------------------------
// GLOBALNE STYLY -----------------------
// --------------------------------------

#page-background {
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -1px;
	width: 100%;
	height: 100%;
	z-index: -1;

	.background-stripe {
		position: absolute;
		top: 0;
		bottom: 0;
		height: 100%;
		border-left: 2px solid $color-border-background;
		transform: translate3d(0, 0, 0);

		.tick {
			position: absolute;
			right: -2px;
			width: 3px;
			height: (25/$font-size)+rem;
			background-color: darken($color-border-background, 3);
			transition: top $animation-time linear;
			transform: translate3d(0, 0, 0);
		}
	}
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $roboto-light;
	color: $color-headline;
	margin: 0 0 (40/$font-size)+rem;
	padding: 0;

	html.small-less & {
		margin-bottom: (80/$font-size)+rem;
	}

	.block & {
		text-align: center;
	}

	.left & {
		text-align: left;
	}

	strong {
		font-family: $roboto-medium;
		color: $color-blue;
	}
}

h1, .h1 {
	font-size: ($font-size-h1/$font-size)+rem;

	html.small-less & {
		font-size: ($font-size-h1-xs/$font-size)+rem;
	}

	.intro & {
		font-size: ($font-size-h1-hp/$font-size)+rem;
		text-align: center;
		margin-bottom: (60/$font-size)+rem;

		html.small-less & {
			font-size: ($font-size-h1-hp-xs/$font-size)+rem;
		}
	}
}

h2, .h2 {
	font-size: ($font-size-h2/$font-size)+rem;

	html.small-less & {
		font-size: ($font-size-h2-xs/$font-size)+rem;
	}
}

h3, .h3 {
	font-size: ($font-size-h3/$font-size)+rem;
	color: $color-h3;

	html.small-less & {
		font-size: ($font-size-h3-xs/$font-size)+rem;
	}

	.download-stable-version & {
		text-align: left;
		margin-bottom: (25/$font-size)+rem;

		html.small-less & {
			text-align: center;
			margin-bottom: (50/$font-size)+rem;
		}
	}

	&.line {
		display: block;
		margin: (25/$font-size)+rem 0 (50/$font-size)+rem;
		text-align: left;
		position: relative;

		html.small-less & {
			margin: (100/$font-size)+rem 0 (80/$font-size)+rem;
		}

		.part & {
			margin-top: 0;
		}

		&.small {
			margin-bottom: (36/$font-size)+rem;

			&:before {
				bottom: -(20/$font-size)+rem;
			}
		}

		&:before {
			content: '';
			position: absolute;
			bottom: -(25/$font-size)+rem;
			left: 0;
			width: (32/$font-size)+rem;
			height: 2px;
			background-color: $color-blue;

			html.small-less & {
				bottom: -(45/$font-size)+rem;
				width: (64/$font-size)+rem;
			}
		}
	}

	.custom-download & {
		margin-top: 0;
	}
}

p {
	font-family: $roboto-light;
	font-size: ($font-size-p/$font-size)+rem;
	line-height: ($line-height-p/$font-size)+rem;
	margin-bottom: (40/$font-size)+rem;

	html.small-less & {
		font-size: ($font-size-p-xs/$font-size)+rem;
		line-height: ($line-height-p-xs/$font-size)+rem;
	}

	&.small {
		font-size: ($font-size-small/$font-size)+rem;
		line-height: ($line-height-small/$font-size)+rem;
		font-family: $roboto-regular;
	}

	.page-title-box & {
		font-size: (20/$font-size)+rem;
		line-height: (32/$font-size)+rem;
	}

	.features & {
		font-size: (18/$font-size)+rem;
		line-height: (24/$font-size)+rem;
		color: $color-dark-blue;

		html.small-less & {
			font-size: ($font-size-p-xs/$font-size)+rem;
			line-height: ($line-height-p-xs/$font-size)+rem;
		}
	}
}

strong, b {
	font-family: $roboto-bold;
	font-weight: normal;
}

a {
	color: $color-blue;
	transition: color $animation-time ease-in-out;
	cursor: pointer;

	&:hover,
	&:focus {
		text-decoration: none;
	}

	&.link {
		position: relative;

		&:hover:after {
			width: 0;
			background-color: $color-dark-blue;
		}

		&:after {
			content: '';
			position: absolute;
			height: 1px;
			top: 100%;
			left: 0;
			width: 100%;
			background-color: $color-blue;
			display: block;
			transition: all $animation-time ease-in-out;
		}
	}
}

.button {
	display: inline-block;
	font-family: $roboto-bold;
	font-size: (18/$font-size)+rem;
	border: 0;
	color: #fff;
	background-color: $color-blue;
	padding: (17/$font-size)+rem (55/$font-size)+rem (19/$font-size)+rem;
	border-radius: (24/$font-size)+rem;
	transition: all $animation-time ease-in-out;
	box-shadow: 0 0 46px 0 rgba(0, 132, 255, 0.3);
	text-align: center;

	html.small-less & {
		font-size: (65/$font-size)+rem;
		border-radius: (90/$font-size)+rem;
		padding: (60/$font-size)+rem (110/$font-size)+rem;
		display: block;
	}

	&:hover {
		color: #fff;
		background-color: darken($color-blue, 15);
		box-shadow: 0 0 46px 0 rgba(0, 132, 255, 0.65);
	}

	.download-stable-version & {
		width: 100%;
		max-width: (260/$font-size)+rem;
		padding-left: 0;
		padding-right: 0;

		html.small-less & {
			max-width: none;
		}
	}
}

// FORMULARE PRVKY

label {
	font-family: $roboto-light;
	font-size: ($font-size-small/$font-size)+rem;
	line-height: (30/$font-size)+rem;
	color: $color-blue;
	transition: color $animation-time ease-in-out;

	html.small-less & {
		font-size: (60/$font-size)+rem;
		line-height: (1.1/$font-size)+rem;
	}

	&:hover {
		cursor: pointer;
		color: darken($color-blue, 20);
	}

	.download-functions & {
		margin-bottom: 0;
	}

	// input[type="checkbox"] + label
	@at-root #{selector-nth(&, -1, insert-selector, 'input[type="checkbox"] + ')} {
		position: relative;
		padding-left: (30/$font-size)+rem;

		html.small-less & {
			padding-left: (80/$font-size)+rem;
		}

		&:before {
			$size: 16;
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: -($size/2/$font-size)+rem;
			width: ($size/$font-size)+rem;
			height: ($size/$font-size)+rem;
			border: 2px solid $color-border-input;
			border-radius: 2px;
			background-color: rgba(#fff, .4);
			transition: all $animation-time ease-in-out;
			padding: 1px;

			html.small-less & {
				$size: 44;
				margin-top: -(18/$font-size)+rem;
				width: ($size/$font-size)+rem;
				height: ($size/$font-size)+rem;
			}

			// input[type="checkbox"] + label:hover
			@at-root #{selector-nth(&, -3, append-class, ':hover')} {
				border-color: darken($color-border-input, 20);
			}

			// input[type="checkbox"]:checked + label
			@at-root #{selector-nth(&, -3, append-class, ':checked')} {
				background-color: $color-border-input;
				background-clip: content-box;
			}

			// input[type="checkbox"]:checked + label:hover
			@at-root #{selector-nth(&, -3, append-class, ':checked:hover')} {
				background-color: darken($color-border-input, 20);
			}
		}
	}
}

input:not([type="checkbox"]):not([type="radio"]) {
	-webkit-appearance: none;
}

input[type="checkbox"] {
	display: none;
}

// --------------------------------------
// HEADER -------------------------------
// --------------------------------------

header {
	padding: (68/$font-size)+rem 0 (42/$font-size)+rem;

	html.small-less & {
		position: absolute;
		top: 0;
		width: 100%;
		height: 0;
		transition: background .5s ease;

		&.navbar-fixed {
			position: fixed;
			top: 0;
			z-index: 100;
			background: rgba(255, 255, 255, .95);
			box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
			height: (260/$font-size)+rem;
			transform: translate3d(0, -100%, 0);
		}

		&.navbar-in,
		&.navbar-out {
			transition: transform .2s linear, background 1s ease, height .5s ease;
		}

		&.navbar-in {
			transform: translateZ(0);
		}
	}

	html.small-less.menu-open & {
		&.navbar-fixed {
			height: 100%;
		}
	}

	.logo {
		font-family: $roboto-bold;
		font-size: (18/$font-size)+rem;
		line-height: (98/$font-size)+rem;
		color: $color-headline;
		display: inline-block;
		margin-left: -(20/$font-size)+rem;

		html.small-less & {
			font-size: (48/$font-size)+rem;
			position: absolute;
			animation-name: none !important; // rewrite inline style
			visibility: visible !important; // rewrite inline style
		}

		img {
			max-width: (162/$font-size)+rem;

			html.small-less & {
				max-width: (262/$font-size)+rem;
			}
		}

		strong {
			position: relative;
			top: -(10/$font-size)+rem; // centrovanie na stred
			margin-left: -(10/$font-size)+rem;
			display: inline-block;
		}
	}

	nav {
		float: right;
		margin: (15/$font-size)+rem (65/$font-size)+rem 0 0;

		html.small-less & {
			margin: 0;
			display: block;
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			height: 100%;
			z-index: 2;
			background-color: #fff;
			transition: $animation-time ease;
			transition-property: opacity, visibility;
			opacity: 0;
			padding-top: (40/$font-size)+rem;
			animation-name: none !important; // rewrite inline style
			visibility: hidden !important; // rewrite inline style

			// html.small-less.menu-open header nav
			@at-root #{selector-nth(&, -3, append-class, '.menu-open')} {
				visibility: visible !important;
				opacity: 1;
			}
		}

		ul {
			list-style: none;

			html.small-less & {
				margin: (20/$font-size)+rem;
				visibility: hidden;
				opacity: 0;
				font-family: $roboto-medium;

				@keyframes menuNavigationAnimate {
					0% {
						transform: translate3d(0, -40px, 0);
						opacity: 0;
					}
					to {
						transform: translateZ(0);
						opacity: 1;
					}
				}

				@at-root #{selector-nth(&, -4, append-class, '.menu-open')} {
					animation: menuNavigationAnimate .9s ease forwards;
					visibility: visible;
				}
			}

			li {
				display: inline-block;
				margin: 0 -1px;

				html.small-less & {
					display: block;
					margin: (20/$font-size)+rem;
				}

				a {
					color: $color-headline;
					font-size: (18/$font-size)+rem;
					padding: (12/$font-size)+rem (30/$font-size)+rem;
					display: inline-block;
					transition: all $animation-time ease-in-out;
					border-radius: (23/$font-size)+rem;

					html.small-less & {
						font-size: (60/$font-size)+rem;
						padding: (40/$font-size)+rem;
						border-radius: (30/$font-size)+rem;
						text-transform: uppercase;
					}

					&:hover {
						color: $color-blue;
					}

					&.active {
						color: #fff;
						background-color: $color-blue;
						box-shadow: 0 0 46px 0 rgba(0, 132, 255, 0.3);

						html.small-less & {
							background-color: #fff;
							box-shadow: none;
							color: $color-blue;
						}

						&:hover {
							background-color: darken($color-blue, 15);

							html.small-less & {
								background-color: #fff;
								color: darken($color-blue, 15);
							}
						}
					}
				}
			}
		}
	}

	.navbar-toggle {
		width: (200/$font-size)+rem;
		height: (130/$font-size)+rem;
		top: 0;
		margin: 0;
		right: 0;
		position: absolute;
		transform: rotate(0deg);
		transition: opacity $animation-time-long ease;
		cursor: pointer;
		z-index: 3;

		span {
			display: block;
			position: absolute;
			height: (12/$font-size)+rem;
			min-height: 4px;
			width: (100/$font-size)+rem;
			background: $color-dark-blue;
			opacity: 1;
			left: (50/$font-size)+rem;
			transition: $animation-time ease-in-out, background-color $animation-time ease-in-out;
			transform: rotate(0deg);
			border-radius: 5px;

			@at-root #{selector-nth(&, -2, append-class, ':hover')} {
				background-color: $color-blue;
			}

			&:nth-child(1) {
				top: (30/$font-size)+rem;

				html.menu-open & {
					top: (54/$font-size)+rem;
					width: 0%;
					left: 50%;
				}
			}

			&:nth-child(2),
			&:nth-child(3) {
				top: (54/$font-size)+rem;
			}

			&:nth-child(2) {
				html.menu-open & {
					transform: rotate(45deg);
				}
			}

			&:nth-child(3) {
				html.menu-open & {
					transform: rotate(-45deg);
				}
			}

			&:nth-child(4) {
				top: (76/$font-size)+rem;

				html.menu-open & {
					top: (54/$font-size)+rem;
					width: 0%;
					left: 50%;
				}
			}
		}
	}
}

// --------------------------------------
// FOOTER -------------------------------
// --------------------------------------

footer {
	border-top: 2px solid $color-light-blue;
	background-color: #fff;
	padding: (35/$font-size)+rem 0;
	font-size: (14/$font-size)+rem;
	position: relative;

	html.small-less & {
		font-size: (44/$font-size)+rem;
		line-height: 130%;
	}

	&:before {
		$width: 82;
		$height: 41;
		content: '';
		position: absolute;
		left: 50%;
		top: -($height/2/$font-size)+rem;
		margin-left: -($width/2/$font-size)+rem;
		background-image: url('#{$image-path}/logo-mini.png');
		background-repeat: no-repeat;
		background-size: contain;
		width: $width;
		height: $height;

		html.hires-display & {
			background-image: url('#{$image-path}/logo-mini@2x.png');
		}
	}

	img {
		position: relative;
		top: -1px;
	}

	.col-6 {
		html.small-less & {
			width: 100%;
			text-align: center;
			margin-top: (20/$font-size)+rem;
			margin-bottom: (20/$font-size)+rem;
		}
	}

	.heart {
		margin: 0 (10/$font-size)+rem 0 (5/$font-size)+rem;
	}
}

// --------------------------------------
// SEKCIE -------------------------------
// --------------------------------------

section {
	overflow: hidden;

	&.white {
		background-color: #fff;
	}

	&.blue {
		background-color: $color-bg-blue;
	}

	&.block {
		border-top: 2px solid $color-light-blue;
		padding: (170/$font-size)+rem 0;

		.documentation-block & {
			padding: (115/$font-size)+rem 0 (75/$font-size)+rem;
		}

		.contact-block & {
			padding-top: (70/$font-size)+rem;
		}

		&.references-block {
			padding-bottom: (110/$font-size)+rem;
		}

		&.features-block {
			padding: (140/$font-size)+rem 0 (100/$font-size)+rem;
		}
	}
}

// INTRO NA UVODE

.intro {
	padding: (130/$font-size)+rem 0 (180/$font-size)+rem;

	.devices {
		font-size: 0;
		line-height: (70/$font-size)+rem;
		margin-bottom: (50/$font-size)+rem;

		img {
			max-width: 100%;
			height: auto;
		}

		span {
			display: inline-block;

			&.icon-notebook {
				width: (64/$font-size)+rem;

				html.small-less & {
					width: (104/$font-size)+rem;
				}
			}

			&.icon-phone {
				width: (28/$font-size)+rem;

				html.small-less & {
					width: (68/$font-size)+rem;
				}
			}

			&.icon-imac {
				width: (55/$font-size)+rem;

				html.small-less & {
					width: (95/$font-size)+rem;
				}
			}

			&.icon-tablet {
				width: (43/$font-size)+rem;

				html.small-less & {
					width: (73/$font-size)+rem;
				}
			}

			&.icon-computer {
				width: (64/$font-size)+rem;

				html.small-less & {
					width: (104/$font-size)+rem;
				}
			}
		}
	}

	.button {
		margin-top: (10/$font-size)+rem;

		html.small-less & {
			margin-top: (80/$font-size)+rem;
		}
	}
}

// SEKCIA FEATURES NA UVODE

.features-block {

	.features {
		margin-top: (70/$font-size)+rem;

		html.small-less & {
			margin-top: (110/$font-size)+rem;
		}

		.col-3 {
			z-index: 0;
			background-color: #fff;

			html.small-less & {
				border-top: 1px solid $color-light-blue;
				width: 100%;
				padding-top: (80/$font-size)+rem;
				margin-top: (80/$font-size)+rem;

				&:first-child {
					border-top: 0;
					margin-top: 0;
					padding-top: 0;
				}
			}

			&:before {
				opacity: 0;
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: #fff;
				border: 2px solid $color-light-blue;
				box-shadow: 0 3px 15px rgba(238, 243, 250, .9);
				transition: all $animation-time ease-in-out, z-index $animation-time ease-in-out;
				//transform: translate3d(0, 0, 0);

				html.small-less & {
					display: none;
				}
			}

			&:hover {
				z-index: 1;

				&:before {
					opacity: 1;
					top: -(50/$font-size)+rem;
					bottom: -(50/$font-size)+rem;
					left: -(50/$font-size)+rem;
					right: -(30/$font-size)+rem;

					html.large-less & {
						top: -(30/$font-size)+rem;
						bottom: -(30/$font-size)+rem;
						left: -(30/$font-size)+rem;
						right: -(10/$font-size)+rem;
					}
				}

				a {
					opacity: 1;
				}
			}

			.inner {
				position: relative;
				z-index: 1;

				html.small-less & {
					padding: 0 (50/$font-size)+rem;
				}
			}

			a {
				opacity: 0;
				transition: opacity $animation-time ease-in-out;

				html.small-less & {
					opacity: 1;
				}
			}
		}
	}

	.icon {
		height: (50/$font-size)+rem;
		line-height: (50/$font-size)+rem;
		display: inline-block;

		html.small-less & {
			height: auto;
		}

		img {
			max-height: 100%;

			html.small-less & {
				max-height: none;
			}
		}
	}
}

// REFERENCIE V SPODNEJ CASTI VO FOOTRI

.references-block {
	margin-bottom: (40/$font-size)+rem;

	.row {
		margin: 0;
	}

	.col-fifth,
	.col-two-fifths {
		padding: 0;
	}

	.references {
		margin-top: (80/$font-size)+rem;

		a {
			display: inline-block;

			html.small-less & {
				width: 50%;

				// html.small-less .references-block .references .col-two-fifths a
				@at-root #{selector-nth(&, -1, insert-selector, '.col-two-fifths')} {
					width: 100%;
				}

				// html.small-less .references-block .references col-fifth:last-child a
				@at-root #{selector-nth(&, -1, insert-selector, '.col-fifth:last-child')} {
					display: table-cell;
				}
			}

			&:not(.add-new-web) {
				transition: opacity $animation-time ease-in-out;

				&:hover {
					opacity: .8;
				}
			}
		}
	}

	img {
		width: 100%;
		height: auto;
	}
}

// SEKCIA - DOWNLOAD

.download-block {
	.custom-download {
		border-top: 2px solid $color-light-blue;
		padding: (90/$font-size)+rem 0 (100/$font-size)+rem;
		background-color: $color-bg-blue;

		.row {
			display: table;
			width: 100%;

			html.small-less & {
				display: block;
			}

			.col-6 {
				display: table-cell;
				float: none;

				html.small-less & {
					display: block;
					width: 100%;
				}

				&:first-child {
					vertical-align: middle;
				}
			}
		}

		.logo-square {
			$size: 400;
			width: ($size/$font-size)+rem;
			height: ($size/$font-size)+rem;
			border: (20/$font-size)+rem solid $color-border-blue;
			background-color: #fff;
			background-repeat: no-repeat;
			background-position: center (125/$font-size)+rem;
			background-size: (228/$font-size)+rem (136/$font-size)+rem;
			background-image: url('#{$image-path}/logo-blue.png');
			margin: (25/$font-size)+rem auto 0;
			top: 50%;
			position: relative;

			html.hires-display & {
				background-image: url('#{$image-path}/logo-blue@2x.png');
			}
		}

		.inner {
			padding-left: (50/$font-size)+rem;
		}

		.download-functions {
			margin-top: (15/$font-size)+rem;

			> div:not(.col-6) {
				html.small-less & {
					margin-bottom: (30/$font-size)+rem;
				}
			}
		}
	}
}

// SEKCIA - CONTACT

.contact-block {
	.inner {
		padding-left: (30/$font-size)+rem;
	}

	.authors {

		.row {
			display: table;
		}

		.col-4 {
			display: table-cell;
			float: none;

			html.small-less & {
				width: auto;
				display: block;
				border-top: 1px solid $color-light-blue;
				margin: 0 (-(45/$font-size)+rem);
				padding: (100/$font-size)+rem (65/$font-size)+rem 0;

				&:first-child {
					margin-top: 0;
					border-top: 0;
				}
			}

			p.small {
				margin-bottom: (80/$font-size)+rem;

				html.small-less & {
					margin-bottom: (40/$font-size)+rem;
				}
			}

			// posledny stlpec centrovanie obrazku na spodok stlpca
			&:last-child div.text-right {
				position: absolute;
				bottom: 0;

				html.small-less & {
					position: static;
				}
			}
		}
	}
}

// SEKCIA - DOCUMENTATION

.documentation-block {

	.col-4 {

		html.small-less & {
			width: 100%;
		}

		.part {
			margin-bottom: (40/$font-size)+rem;
			text-align: left;

			h2 a {
				color: $color-headline;

				&:hover {
					color: $color-blue;
				}
			}

			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					display: block;
					line-height: ($line-height-small/$font-size)+rem;

					html.small-less & {
						line-height: ($line-height-small-xs/$font-size)+rem;
					}
				}
			}
		}
	}
}

.documentation-detail-block {

	h1 {
		text-align: center;
	}

	footer {
		display: none;
	}
}

.navbar.navbar-fixed-top {
	$height: 58;
	background-color: $color-blue;
	min-height: ($height/$font-size)+rem;
	border: 1px solid #fff;

	a {
		color: #fff;
	}

	.caret {
		margin-left: (5/$font-size)+rem;
	}

	.container {
		position: static;
	}

	.navbar-header {
		float: right;

		.navbar-brand {
			height: ($height/$font-size)+rem;
			line-height: ($height/$font-size)+rem;
			padding: 0 (15/$font-size)+rem;
			font-size: inherit;
			transition: color $animation-time ease-in-out;

			&:hover {
				color: $color-dark-blue;
			}
		}
	}

	.navbar-collapse.collapse {
		float: right;
		display: inline-block !important; // rewrite bootstrap style

		.navbar-nav {
			padding-right: (15/$font-size)+rem;

			> li {
				position: static;

				> a {
					line-height: ($height/$font-size)+rem;
					padding: 0 (15/$font-size)+rem;

					// .navbar.navbar-fixed-top .navbar-collapse.collapse .navbar-nav.open > li > a
					@at-root #{selector-nth(&, -3, append-class, '.open')} {
						background-color: transparent;
					}

					&:hover,
					&:focus {
						background-color: transparent;
						color: $color-dark-blue;
					}

					&.dropdown-toggle {
						transition: color $animation-time ease-in-out;
					}
				}

				.dropdown-menu {
					display: block;
					opacity: 0;
					border-radius: 0;
					box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
					top: -1000%;
					right: 0;
					border: 0;
					font-size: 0;
					padding: (40/$font-size)+rem (70/$font-size)+rem;
					transition: all $animation-time ease-in-out;
					transform: translate3d(0, 0, 0);

					@at-root #{selector-nth(&, -2, append-class, '.open')} {
						top: 100%;
						opacity: 1;
					}

					li {
						display: inline-block;
						width: (100%/3);
						font-size: (20/$font-size)+rem;
						line-height: (36/$font-size)+rem;

						&.title {
							width: 100%;
							margin-bottom: (20/$font-size)+rem;
						}

						a {
							font-size: (20/$font-size)+rem;
							line-height: (36/$font-size)+rem;
							color: $color-blue;
							padding: 0;

							&:hover {
								background-color: transparent;
								color: $color-dark-blue;
							}

							&:focus {
								background-color: transparent;
							}
						}
					}

				}
			}
		}
	}

	.navbar-form {
		display: inline-block;
		margin: 0;
		padding-right: 0;
		position: relative;

		::-webkit-input-placeholder {
			color: #fff;
		}
		::-moz-placeholder {
			color: #fff;
		}
		:-ms-input-placeholder {
			color: #fff;
		}
		:-moz-placeholder {
			color: #fff;
		}

		.input-group {
			&:after {
				display: block;
				position: absolute;
				left: 0;
				top: (12/$font-size)+rem;
				bottom: (12/$font-size)+rem;
				width: 1px;
				background-color: #fff;
			}
		}

		.form-control {
			border: 0;
			box-shadow: none;
			background-color: transparent;
			width: 0;
			padding: 0;
			line-height: (58/$font-size)+rem;

		}

		.btn {
			background-color: transparent;
			color: #fff;
			padding: 0 (15/$font-size)+rem;
			line-height: ($height/$font-size)+rem;
			font-size: (20/$font-size)+rem;
		}
	}
}

// --------------------------------------
// SPECIFICKE PRVKY ---------------------
// --------------------------------------

.add-new-web {
	width: 100%;
	height: (180/$font-size)+rem;
	display: block;
	color: #fff;
	background-color: $color-blue;
	transition: all $animation-time ease-in-out;
	font-size: (18/$font-size)+rem;
	text-align: center;
	padding-top: (100/$font-size)+rem;
	position: relative;
	vertical-align: middle;

	html.small-less & {
		font-size: (58/$font-size)+rem;
	}

	&:after {
		$size: 36;
		content: '';
		position: absolute;
		top: 30%;
		left: 50%;
		width: ($size/$font-size)+rem;
		height: ($size/$font-size)+rem;
		margin-left: -($size/2/$font-size)+rem;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url('#{$image-path}/icon-plus.png');
		transition: transform $animation-time ease-in-out;
		transform: translate3d(0, 0, 0) rotate(0deg);

		html.small-less & {
			$size: 72;
			width: ($size/$font-size)+rem;
			height: ($size/$font-size)+rem;
			margin-left: -($size/2/$font-size)+rem;
		}

		html.hires-display & {
			background-image: url('#{$image-path}/icon-plus@2x.png');
		}
	}

	&:hover {
		background-color: darken($color-blue, 15);
		color: #fff;

		&:after {
			transform: translate3d(0, 0, 0) rotate(180deg);
		}
	}
}

section.download-stable-version {
	padding: (70/$font-size)+rem 0 (80/$font-size)+rem;

	.row {
		display: table;
		margin: 0;
		width: 100%;

		html.small-less & {
			display: block;
		}
	}

	.col-7,
	.col-4 {
		display: table-cell;
		float: none;
		height: 100%;
		vertical-align: middle;

		html.small-less & {
			display: block;
			width: 100%;
		}
	}

	.col-7 {
		text-align: left;

		html.small-less & {
			text-align: center;
		}
	}

	.col-4 {
		text-align: right;
		vertical-align: bottom;

		html.small-less & {
			margin-top: (60/$font-size)+rem;
			text-align: center;
		}
	}
}

.page-title-box {
	padding-bottom: (60/$font-size)+rem;
}

.layer.half-circle {
	position: absolute !important; // rewrite inline style
	z-index: 1;

	html.small-less & {
		display: none;
	}

	&#circle-top-hp {
		top: -(130/$font-size)+rem !important; // rewrite inline style
		right: (75/$font-size)+rem;
		left: auto !important; // reset inline style
		width: (221/$font-size)+rem;
	}

	&#circle-references-left {
		top: -(40/$font-size)+rem !important; // rewrite inline style
		left: -(60/$font-size)+rem !important; // rewrite inline style
		width: (114/$font-size)+rem;
	}

	&#circle-references-right {
		bottom: -(105/$font-size)+rem;
		right: (180/$font-size)+rem;
		top: auto !important; // reset inline style
		left: auto !important; // reset inline style
		width: (221/$font-size)+rem;
	}

	&#circle-top-left {
		top: auto !important; // reset inline style
		bottom: -(60/$font-size)+rem;
		left: (80/$font-size)+rem !important; // rewrite inline style
		width: (221/$font-size)+rem;
	}

	&#circle-top-right {
		top: auto !important; // reset inline style
		bottom: -(80/$font-size)+rem;
		right: (35/$font-size)+rem;
		left: auto !important; // reset inline style
		width: (183/$font-size)+rem;
	}

	img {
		max-width: 100%;
	}
}

#github-ribbon {
	position: absolute;
	top: -(5/$font-size)+rem;
	right: (18/$font-size)+rem;
	width: (84/$font-size)+rem;
	height: (242/$font-size)+rem;
	border: 2px solid $color-light-blue;
	background-color: #fff;
	border-radius: (6/$font-size)+rem;
	padding-top: (110/$font-size)+rem;
	background-image: url('#{$image-path}/github-logo.png');
	background-repeat: no-repeat;
	background-size: 36px 35px;
	background-position: center top (23/$font-size)+rem;
	color: $color-headline;
	font-size: (16/$font-size)+rem;
	transition: box-shadow $animation-time ease-in-out;
	transform: translate3d(0, 0, 0);
	z-index: 5;

	html.hires-display & {
		background-image: url('#{$image-path}/github-logo@2x.png');
	}

	html.medium-less & {
		height: (88/$font-size)+rem;
		padding: 0;
		border: 0;
		background-color: transparent;
	}

	html.small-less & {
		display: none;
	}

	&:hover {
		box-shadow: 0 0 46px 0 rgba(0, 132, 255, 0.15);
	}

	span {
		display: block;
		white-space: nowrap;
		transform: rotate(90deg);

		html.medium-less & {
			display: none;
		}
	}
}

.wow {
	visibility: hidden;
}